<div class="container">
  <br>
  <!-- ACCORDION -->
  <accordion>
    <accordion-group heading="Static Header, initially expanded">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>

  <!-- CALENDAR -->
  <br><br><br><br><br>
  <div class="row">
    <div class="col-md-6">
      <div class="input-wrap">
        <label class="active">Date</label>
        <input  type="text"
                placeholder="MM   |   Day   |   Year "
                [minDate]="minDate"
                [maxDate]="maxDate"
                #dp="bsDatepicker"
                bsDatepicker [(bsValue)]="bsValue"
                [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'MMMM DD, YYYY'}">
      </div>
    </div>
  </div>

  <!-- TOOLTIP -->
  <br><br><br><br><br>
  <ng-template #tolTemplate>
      <h3>Connections</h3>
      <div>Blanche’s Books <span>$180,000.00</span> </div>
      <div>Sophia’s Soaps <span>$87,000.00</span> </div>
  </ng-template>

  <button type="button" [tooltip]="tolTemplate" placement="right">
      Show Connections
  </button> 

  <!-- SELECT LANGUAGE BUTTON -->
  <br><br><br><br><br>
  <div class="input-wrap">
    <label for="inline-select">{{selectedItem.viewValue}}</label>
    <input id="inline-select" name="inline-select" class="select {{ isActive ? 'active' : ''}}" (click)="isActive = !isActive" [value]="selectedItem" readonly>
      <div class="select-options-wrap scrollbar {{ isActive ? 'active' : ''}}">
        <ul class="select-options-list" name="selectProvince" id="selectProvince">
          <li *ngFor="let province of provinceList" class="select-option" (click)="isActive = !isActive">
            <a [ngClass]="{'active': selectedItem == province.viewValue }" (click)="listClick($event, province.viewValue)">{{province.viewValue}}</a>
          </li>
        </ul>
    </div>	
  </div>
</div>


<!-- RADIO BUTTON GROUP -->
<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Left">Yes</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Middle">No</label>
</div>