// CALENDAR
.input-wrap {
  label {
    position: static;
    margin-top: 0;
  }
  input[bsdatepicker] {
    padding-right: 40px;
    font-size: 16px;
    border-bottom-color: #B7BCC6;
    background-image: url('../assets/calendar.svg');
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: 98% 50%;

    &::placeholder{
      color: #B7BCC6;
    }
  }
}

.theme-dark-blue {

  .bs-datepicker {
    &-head {
      background-color: #fff;
      button {
        &.next, &.previous {
          color: #2E7EC3;
        }
        &.current {
          color: #151515;
          font-weight: 700;
          font-size: 1.5rem;
          text-transform: uppercase;
        }
      }
    }

    &-body {
      border: none;
      table {
        td {
          span {
            &.selected {
              border: 1px solid #185486;
              background: #185486;
              color: #fff;
            }
          }
        }

        th {
          border-bottom: 1px solid #E4E6EA;
        }
      }
    }
  }
}




// Inputs
//
// Code bellow is taken from recommended global bmo styles:
// http://bmodcux.com/repo/index.html
// However, this code needs some customization to use in this project
//
//
// Usage example:
/**

REGULAR Input:
============================================================================

  <label for="legalName">{{'partySearch.companyName' | translate}}</label>
  <input type="text" name="legalName" id="legalName"
    [placeholder]="'partySearch.companyNamePlaceholder' | translate"
  />
  <span class="bmo__input-help-text">
    <div *ngIf="!smth" translate="partySearch.companyNameHelpText"></div>
    <span *ngIf="smth">
      <div [hidden]="!someErr" class="bmo__input-help-text-error" translate="partySearch.companyNameError"></div>
    </span>
  </span>


SELECT Input:
============================================================================

<div class="input-wrap inline large">
  <label for="inline-select">{{'partySearch.province' | translate}}</label>
  <input name="inline-select" class="select {{ isActive ? 'active' : ''}}" (click)="isActive = !isActive" [value]="selectedProvinceItem" readonly>
    <div class="select-options-wrap scrollbar {{ isActive ? 'active' : ''}}">
      <ul class="select-options-list" name="selectProvince" id="selectProvince">
        <li *ngFor="let province of provinceList" class="select-option" (click)="isActive = !isActive">
          <a [ngClass]="{'active': selectedProvinceItem == province.viewValue }">{{province.viewValue | translate}}</a>
        </li>
      </ul>
  </div>	
</div>

Note: declare the following for each select field inside .ts file 

  isActive = false;
  selectedItem;

  listClick(event, newValue) {
    this.selectedItem = newValue;
  }

*/
// ==========================================================================

.input-wrap {
  box-sizing: border-box;
  max-width: 450px;
  padding-top: 24px;
}

.input-wrap.large {
  height: 96px;
}

.input-wrap.condensed {
  height: 88px;
}

.input-wrap label {
  color: #0079c1;
  display: block;
  font-size: 1.4rem;
  padding-bottom: 4px;
  margin-top: 10px;
  font-size: 1.8rem;
  opacity: 1;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.input-wrap label.active {
  font-size: 1.2rem;
  opacity: 1;
}

.input-wrap label.error {
  color: #C81414;
}

.input-wrap input,
.input-wrap input.select {
  color: #001928;
  display: block;
  font-size: 1.4rem;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 4px 8px 4px 0;
  border-bottom: 1px solid #001928;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  height: 36px;
  cursor: pointer;
}

.input-wrap input:focus,
.input-wrap input.select:focus {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #0079c1;
  padding-bottom: 3px;
}

.input-wrap input.select {
  padding: 3px 8px 3px 0;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  // background: $url_icon__chevron right 16px center no-repeat;
  font-size: 1.6rem;
  color: #646C76;
  max-width: 343px;
  width: 100%;
}

.input-wrap input.select.active {
  // background: $url_icon__chevron right 16px center no-repeat;
}

.select-options-wrap {
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0, 25, 40, 0.12), 0 2px 2px 0 rgba(0, 25, 40, 0.07);
  position: relative;
  z-index: 1000;
  width: 343px;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  overflow-y: scroll;
  height: 16px;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.select-options-wrap.active {
  visibility: visible;
  opacity: 1;
  height: 160px;
}

.select-options-wrap .select-options-list {
  margin: 0;
}

.select-options-wrap .select-options-list .select-option {
  display: block;
}

.select-options-wrap .select-options-list .select-option a {
  padding: 0 16px;
  color: #005587;
  display: block;
  box-sizing: border-box;
  background-position: right 16px center;
}

.select-options-wrap .select-options-list .select-option a:hover {
  background: #F5F6F7;
  background-position: right 16px center;
}

.select-options-wrap .select-options-list .select-option a.active {
  // background-image: $url_icon__check-grey;
  background-repeat: no-repeat;
  background-position: right 16px center;
}

input.valid {
  border-bottom: 2px solid #0B8224;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #0079c1;
}

input::-moz-placeholder {
  color: #0079c1;
}

input:-ms-input-placeholder {
  color: #0079c1;
}

input:-moz-placeholder {
  color: #0079c1;
}

.input-help-text {
  padding-top: 4px;
  display: block;
  margin-top: 0;
}

.input-help-text.error {
  color: #C81414;
}

option {
  font-size: 1.6rem;
  padding: 8px;
  box-sizing: border-box;
}

.input-wrap.inline label {
  display: inline-block;
  max-width: 200px;
  font-size: 1.6rem;
  width: 25%;
  box-sizing: border-box;
  position: static;
}

.input-wrap.inline input.select {
  display: inline-block;
  width: calc(75% - 10px);
  margin-top: -8px;
  box-sizing: border-box;
}

.input-wrap.inline>.select-options-wrap {
  margin-left: 25%;
  width: calc(75% - 10px);
}

textarea {
  border: none;
  border-bottom: 2px solid #D9DCE1;
  width: 393px;
  font-size: 1.8rem;
  line-height: 24px;
  height: 24px;
  resize: vertical;
  font-family: 'heebo';
  padding-bottom: 8px;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

textarea.active {
  width: 100%;
  height: 64px;
  border-bottom: 2px solid #0079c1;
  box-sizing: border-box;
}

textarea::-webkit-input-placeholder {
  height: 24px;
  color: #929BA9!important;
  font-size: 1.8rem;
  line-height: 24px;
}

textarea::-moz-placeholder {
  height: 24px;
  color: #929BA9;
  font-size: 1.8rem;
  line-height: 24px;
}

textarea:-ms-input-placeholder {
  height: 24px;
  color: #929BA9!important;
  font-size: 1.8rem;
  line-height: 24px;
}

textarea:-moz-placeholder {
  height: 24px;
  color: #929BA9!important;
  font-size: 1.8rem;
  line-height: 24px;
}

textarea:placeholder {}


/**
 * Custom input code
 */


.input-wrap label {
  // color: $color-accessible-bmo-blue;
}

.select-options-wrap .select-options-list {	
  padding-left: 0;
}

// .input-wrap input.select {
	// color: $color-slate;
// }


//@extend-elements
%extend_input {
  max-width: 450px;
	// color: $color-slate;
	display: block;
	font-size: 18px;
	width: 100%;
	background: transparent;
	padding: 4px 8px 4px 0;
	border: 0;
	// border-bottom: 2px solid $color-grey;
	box-sizing: border-box;
	height: 36px;
}

%extend_input_focus {
	outline: 0;
	border: 0;
	// border-bottom: 2px solid $color-bmo-blue;
}

label {
	// color: $color-accessible-bmo-blue;
	display: block;
  font-size: 12px;
  font-weight: 500;
}
input {
  @extend %extend_input;
  margin-bottom: 6px;
	&:focus {
		@extend %extend_input_focus;
	}
	&.bmo__valid {
    // border-bottom: 2px solid $color-positive;
	}
	&.bmo__error {
		// border-bottom: 2px solid $color-negative;
	}
}
.bmo__input-help-text {
	font-size: 12px;
	// color: $color-granite;
	display: block;
}
.bmo__input-help-text-error {
  // color: $color-negative;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	// color: $color-grey;
}
input::-moz-placeholder {
	// color: $color-grey;
}
input:-ms-input-placeholder {
	// color: $color-grey;
}
input:-moz-placeholder {
	// color: $color-grey;
}


textarea {
  &.form-control {
    color: #001928;
    display: block;
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 4px 8px 4px 0;
    border-bottom: 1px solid #001928;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 0;
    min-height: 0;

    &:focus {
      outline: 0;
      border: 0;
      border-bottom: 2px solid #0079c1;
      padding-bottom: 3px;
      box-shadow: none;
    }
  }

  &.valid {
    border-bottom: 2px solid #0B8224;
  }
}

img.centre { 
  margin: 0 auto;
  display: block;
}

.input-help-text {
  display: inline;
}

.textarea-resize {
  resize: vertical;
}


// Cards
//
// Code bellow is taken from MaterializeCss Styles:
// http://next.materializecss.com/cards.html
// Some of the code was customized for use in this project
//
// Usage examle:
/**
  <div class="card">
    <div class="card-content">
      <h4>{{tile?.title | translate}}</h4>
      <h6>{{tile?.description | translate}}</h6>
    </div>
    <div class="card-action">
    </div>
  </div>
*/
// ==========================================================================

/**
The MIT License (MIT)

Copyright (c) 2014-2017 Materialize

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*/

// Z-levels
.z-depth-0 {
  box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}
.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified*/
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
              0 1px 10px 0 rgba(0,0,0,0.12),
              0 2px 4px -1px rgba(0,0,0,0.3);
}

/* 12dp elevation modified*/
.z-depth-3 {
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
              0 3px 14px 2px rgba(0,0,0,0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),
              0 6px 30px 5px rgba(0,0,0,0.12),
              0 8px 10px -7px rgba(0,0,0,0.2);
}

/* 24dp elevation */
.z-depth-5 {
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),
              0 9px 46px 8px rgba(0,0,0,0.12),
              0 11px 15px -7px rgba(0,0,0,0.2);
}

.hoverable {
  transition: box-shadow .25s;

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}


$card-padding: 24px !default;
$card-bg-color: #fff !default;
$card-link-color: blue;
$card-link-color-light: $card-link-color;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

.card-panel {
  transition: box-shadow .25s;
  padding: $card-padding;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  border-radius: 2px;
  @extend .z-depth-1;
  // background-color: $card-bg-color;
}

.card {
  position: relative;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  // background-color: $card-bg-color;
  transition: box-shadow .25s;
  border-radius: 2px;
  @extend .z-depth-1;


  .card-title {
    font-size: 24px;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }

  // Card Sizes
  &.small, &.medium, &.large {
    position: relative;

    .card-image {
      max-height: 60%;
      overflow: hidden;
    }
    .card-image + .card-content {
      max-height: 40%;
    }
    .card-content {
      max-height: 100%;
      overflow: hidden;
    }
    .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.xsmall {
    height: 134px;
  }

  &.small {
    height: 300px;
  }

  &.medium {
    height: 400px;
  }

  &.large {
    height: 500px;
  }

  // Horizontal Cards
  &.horizontal {
    &.small, &.medium, &.large {
      .card-image {
        height: 100%;
        max-height: none;
        overflow: visible;

        img {
          height: 100%;
        }
      }
    }

    display: flex;

    .card-image {
      max-width: 50%;
      img {
        border-radius: 2px 0 0 2px;
        max-width: 100%;
        width: auto;
      }
    }

    .card-stacked {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;

      .card-content {
        flex-grow: 1;
      }
    }
  }

  // Sticky Action Section
  &.sticky-action {
    .card-action {
      z-index: 2;
    }

    .card-reveal {
      z-index: 1;
      padding-bottom: 64px;
    }
  }




  .card-image {
    position: relative;

    // Image background for content
    img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .card-title {
      // color: $card-bg-color;
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;
      // padding: $card-padding;
    }
  }

  .card-content {
    // padding: $card-padding;
    border-radius: 0 0 2px 2px;

    p {
      margin: 0;
    }
    .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;

      i {
        line-height: 32px;
      }
    }
  }

  .card-action {
    &:last-child {
      border-radius: 0 0 2px 2px;
    }
    position: relative;
    border-top: 1px solid rgba(160,160,160,.2);
    // padding: 16px $card-padding;

    a:not(.btn):not(.btn-large):not(.btn-floating) {
      // color: $card-link-color;
      // margin-right: $card-padding;
      transition: color .3s ease;
      text-transform: uppercase;

      // &:hover { color: $card-link-color-light; }
    }
  }

  .card-reveal {
    // padding: $card-padding;
    position: absolute;
    // background-color: $card-bg-color;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;

    .card-title {
      cursor: pointer;
      display: block;
    }
  }
}


//   custom card styling
.card-content {
  h3, h4 {
      margin-top: 0;
      margin-bottom: 16px;
  }

  img {
      float: right;
  }

  p span {
      font-weight: 500;
  }
}
.card-action {
  border-top: none !important;
  padding-top: 8px !important;
  // padding-bottom: $card-padding !important;
  // text-align: right;

  button, a.button {
      margin: 0;
  }
}


/* Cards  CUSTOM
========================================================================== */
.card {
  border-radius: 6px;

  .card-content {
    .card-title {
      font-weight: bold;
    }

    p {
      
    }
  }

  .card-action {
    border-top: none;

    &:last-child {
      border-radius: 0 0 6px 6px;
    }
  }

  &.clickable {
    cursor: pointer;
  }

  &.disabled {
    pointer-events: none;
    .card {
      &-content, &-action {
        opacity: .5;
      }
    }
  }

  &.selected {
    border: 3px solid #74bbeb;
    position: relative;

    &::before, &::after {
      content: '';
      display: inline-block;
      position: absolute;
    }

    &::before {
      top: -3px;
      right: -3px;
      width: 37px;
      height: 30px;
      border-radius: 0 6px 0 6px;
      background-color: #74bbeb;
    }

    &::after {
      top: 4px;
      right: 18px;
      width: 8px;
      height: 15px;
      border-top: 0px solid transparent;
      border-left: 0px solid transparent;
      border-right: 3px solid #fff;
      border-bottom: 3px solid #fff;
      transform: rotateZ(45deg);
      transform-origin: 100% 100%;
    }
  }

  &.small {
    height: 256px;
  }



  .spot-illustration {
    // display: block;
    align-items: center;
  display: flex;
    width: auto;
    height: 72px;
    // background-origin: border-box;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    // text-align: right;
    // display: block;
    // background: no-repeat;
    // float: right;
    background-position: right;
    // background-position: 99% 50%;
      background-repeat: no-repeat;
      vertical-align: middle;

    &.analyse-needs {
      background-image: url('/assets/images/analyse-needs.svg');
    }

    &.review-connections {
      background-image: url('/assets/images/review-connections.svg');
    }

    &.select-guarantors {
      background-image: url('/assets/images/select-guarantors.svg');
    }

    &.financial-details {
      background-image: url('/assets/images/financial-details.svg');
    }

    &.configure-products {
      background-image: url('/assets/images/configure-products.svg');
    }

    &.review-submit {
      background-image: url('/assets/images/review-submit.svg');
    }

    &.fulfillment {
      background-image: url('/assets/images/fulfillment.svg');
    }

  }


  .application-progress {
    display: inline-block;
    margin-top: 16px;
    font-family: "Heebo-Medium", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 24px;

    &::before {
      content: '';
      display: flex;
      float: left;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      background-origin: border-box;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.done {
      color: #0B8224;
      &::before {
        background-image: url('/assets/images/application-done.svg');
      }
    }

    &.in-progress {
      color: #F78E16;
      &::before {
        background-image: url('/assets/images/application-in-progress.svg');
      }
    }

    &.not-started {
      color: #7f7f7f;
      &::before {
        background-image: url('/assets/images/application-in-progress.svg');
      }
    }

    &.locked {
      float: right !important;
      margin: -18px;
      color: #585858;
      &::before {
        background-image: url('/assets/images/application-locked.svg');
      }
    }

  }
}



// new-styles

//accordion

accordion {
  background: transparent;
  accordion-group {
    .panel {
      border: none;
      box-shadow: none;
      background: transparent;
      margin: 0 0 15px;
      &-heading {
        padding: 10px 0;
        box-shadow: none;
        border: none;
        background: inherit;
        cursor: pointer;
      }
      &-title {
        color: #13202b;
        font-weight: 700;
        font-size: 15px;
        &:before {
          content:'';
          background: url("assets/chevron.svg") no-repeat center center;
          width: 15px;
          height: 7px;
          position: absolute;
          left: -25px;
          top: 25px;
        }
      }
      &-body {
        padding: 15px 0;
        font-size: 14px;
        line-height: 1.1;
      }
      .accordion-toggle {
        border-bottom: 3px solid #eeeef1;
        padding: 7px 0;
      }
    }
  }
}


// tooltip

.tooltip {
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  padding: 0;
  margin-left: 15px;
  box-sizing: border-box;
  &-inner {
    background: #fff;
    padding: 20px 25px 0;
    color: #000;
    max-width: 380px;
    width: 300px;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      color: #000;
      border-top: 2px solid #e1e1e1;
      padding: 20px 0;
      span {
        font-size: 16px;
        margin-left: 20px;
      }
    }
    h3 {
      font-size: 14px;
      line-height: 1.2;
      margin: 0 0 10px;
      text-align: left;
      font-weight: 900;
    }
  }
  .tooltip-arrow {
    left: -2px;
    width: 0;
    height: 0;
    &:before {
      width: 20px;
      height: 20px;
      background: #fff;
      border: none;
      box-shadow: 0 0 0 2px #e1e1e1;
      transform: rotate(45deg);
      left: -5px;
      z-index: -1;
      overflow: hidden;
      margin-top: -8px;
    }
  }
}


//select

.input-wrap[_ngcontent-c0] input.select[_ngcontent-c0]{
  color: #fff;
  font-size: 22px;
  background: #000;
  > div {
    background: yellow;
  }
}


//datepicker

.bs-datepicker-head {

}