.theme-dark-blue .bs-datepicker-head {
  background-color: #fff; }
  .theme-dark-blue .bs-datepicker-head button.next, .theme-dark-blue .bs-datepicker-head button.previous {
    color: #2E7EC3; }
  .theme-dark-blue .bs-datepicker-head button.current {
    color: #151515;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase; }

.theme-dark-blue .bs-datepicker-body {
  border: none; }
  .theme-dark-blue .bs-datepicker-body table td span.selected {
    border: 1px solid #3F90CB;
    background: none;
    color: #0E0E0E; }
  .theme-dark-blue .bs-datepicker-body table th {
    border-bottom: 1px solid #E4E6EA; }

/**

REGULAR Input:
============================================================================

  <label for="legalName">{{'partySearch.companyName' | translate}}</label>
  <input type="text" name="legalName" id="legalName"
    [placeholder]="'partySearch.companyNamePlaceholder' | translate"
  />
  <span class="bmo__input-help-text">
    <div *ngIf="!smth" translate="partySearch.companyNameHelpText"></div>
    <span *ngIf="smth">
      <div [hidden]="!someErr" class="bmo__input-help-text-error" translate="partySearch.companyNameError"></div>
    </span>
  </span>


SELECT Input:
============================================================================

<div class="input-wrap inline large">
  <label for="inline-select">{{'partySearch.province' | translate}}</label>
  <input name="inline-select" class="select {{ isActive ? 'active' : ''}}" (click)="isActive = !isActive" [value]="selectedProvinceItem" readonly>
    <div class="select-options-wrap scrollbar {{ isActive ? 'active' : ''}}">
      <ul class="select-options-list" name="selectProvince" id="selectProvince">
        <li *ngFor="let province of provinceList" class="select-option" (click)="isActive = !isActive">
          <a [ngClass]="{'active': selectedProvinceItem == province.viewValue }">{{province.viewValue | translate}}</a>
        </li>
      </ul>
  </div>	
</div>

Note: declare the following for each select field inside .ts file 

  isActive = false;
  selectedItem;

  listClick(event, newValue) {
    this.selectedItem = newValue;
  }

*/
.input-wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 450px;
  padding-top: 24px; }

.input-wrap.large {
  height: 96px; }

.input-wrap.condensed {
  height: 88px; }

.input-wrap label {
  color: #0079c1;
  display: block;
  font-size: 1.4rem;
  padding-bottom: 4px;
  position: absolute;
  margin-top: 10px;
  font-size: 1.8rem;
  opacity: 1;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease; }

.input-wrap label.active {
  margin-top: -16px;
  font-size: 1.2rem;
  opacity: 1; }

.input-wrap label.error {
  color: #C81414; }

.input-wrap input,
.input-wrap input.select {
  color: #001928;
  display: block;
  font-size: 1.4rem;
  width: 100%;
  background: transparent;
  border: 0;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 4px 8px 4px 0;
  border-bottom: 1px solid #001928;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  height: 36px;
  cursor: pointer; }

.input-wrap input:focus,
.input-wrap input.select:focus {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #0079c1;
  padding-bottom: 3px; }

.input-wrap input.select {
  padding: 3px 8px 3px 0;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  font-size: 1.6rem;
  color: #646C76;
  max-width: 343px;
  width: 100%; }

.select-options-wrap {
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 25, 40, 0.12), 0 2px 2px 0 rgba(0, 25, 40, 0.07);
  box-shadow: 0 0 2px 0 rgba(0, 25, 40, 0.12), 0 2px 2px 0 rgba(0, 25, 40, 0.07);
  position: relative;
  z-index: 1000;
  width: 343px;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  overflow-y: scroll;
  height: 16px;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.select-options-wrap.active {
  visibility: visible;
  opacity: 1;
  height: 160px; }

.select-options-wrap .select-options-list {
  margin: 0; }

.select-options-wrap .select-options-list .select-option {
  display: block; }

.select-options-wrap .select-options-list .select-option a {
  padding: 0 16px;
  color: #005587;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: right 16px center; }

.select-options-wrap .select-options-list .select-option a:hover {
  background: #F5F6F7;
  background-position: right 16px center; }

.select-options-wrap .select-options-list .select-option a.active {
  background-repeat: no-repeat;
  background-position: right 16px center; }

input.valid {
  border-bottom: 2px solid #0B8224; }

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #0079c1; }

input::-moz-placeholder {
  color: #0079c1; }

input:-ms-input-placeholder {
  color: #0079c1; }

input:-moz-placeholder {
  color: #0079c1; }

.input-help-text {
  padding-top: 4px;
  display: block;
  margin-top: 0; }

.input-help-text.error {
  color: #C81414; }

option {
  font-size: 1.6rem;
  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.input-wrap.inline label {
  display: inline-block;
  max-width: 200px;
  font-size: 1.6rem;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: static; }

.input-wrap.inline input.select {
  display: inline-block;
  width: calc(75% - 10px);
  margin-top: -8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.input-wrap.inline > .select-options-wrap {
  margin-left: 25%;
  width: calc(75% - 10px); }

textarea {
  border: none;
  border-bottom: 2px solid #D9DCE1;
  width: 393px;
  font-size: 1.8rem;
  line-height: 24px;
  height: 24px;
  resize: vertical;
  font-family: 'heebo';
  padding-bottom: 8px;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease; }

textarea.active {
  width: 100%;
  height: 64px;
  border-bottom: 2px solid #0079c1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

textarea::-webkit-input-placeholder {
  height: 24px;
  color: #929BA9 !important;
  font-size: 1.8rem;
  line-height: 24px; }

textarea::-moz-placeholder {
  height: 24px;
  color: #929BA9;
  font-size: 1.8rem;
  line-height: 24px; }

textarea:-ms-input-placeholder {
  height: 24px;
  color: #929BA9 !important;
  font-size: 1.8rem;
  line-height: 24px; }

textarea:-moz-placeholder {
  height: 24px;
  color: #929BA9 !important;
  font-size: 1.8rem;
  line-height: 24px; }

/**
 * Custom input code
 */
.select-options-wrap .select-options-list {
  padding-left: 0; }

input {
  max-width: 450px;
  display: block;
  font-size: 18px;
  width: 100%;
  background: transparent;
  padding: 4px 8px 4px 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px; }

input:focus {
  outline: 0;
  border: 0; }

label {
  display: block;
  font-size: 12px;
  font-weight: 500; }

input {
  margin-bottom: 6px; }

.bmo__input-help-text {
  font-size: 12px;
  display: block; }

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */ }

textarea.form-control {
  color: #001928;
  display: block;
  width: 100%;
  background: transparent;
  border: 0;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 4px 8px 4px 0;
  border-bottom: 1px solid #001928;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  min-height: 0; }
  textarea.form-control:focus {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #0079c1;
    padding-bottom: 3px;
    -webkit-box-shadow: none;
    box-shadow: none; }

textarea.valid {
  border-bottom: 2px solid #0B8224; }

img.centre {
  margin: 0 auto;
  display: block; }

.input-help-text {
  display: inline; }

.textarea-resize {
  resize: vertical; }

/**
  <div class="card">
    <div class="card-content">
      <h4>{{tile?.title | translate}}</h4>
      <h6>{{tile?.description | translate}}</h6>
    </div>
    <div class="card-action">
    </div>
  </div>
*/
/**
The MIT License (MIT)

Copyright (c) 2014-2017 Materialize

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*/
.z-depth-0 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

/* 2dp elevation modified*/
.z-depth-1, .card-panel, .card {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.z-depth-1-half {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }

/* 6dp elevation modified*/
.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

/* 12dp elevation modified*/
.z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

/* 16dp elevation */
.z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2); }

/* 24dp elevation */
.z-depth-5 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2); }

.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s; }
  .hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card-panel {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px; }

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px; }
  .card .card-title {
    font-size: 24px;
    font-weight: 300; }
    .card .card-title.activator {
      cursor: pointer; }
  .card.small, .card.medium, .card.large {
    position: relative; }
    .card.small .card-image, .card.medium .card-image, .card.large .card-image {
      max-height: 60%;
      overflow: hidden; }
    .card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
      max-height: 40%; }
    .card.small .card-content, .card.medium .card-content, .card.large .card-content {
      max-height: 100%;
      overflow: hidden; }
    .card.small .card-action, .card.medium .card-action, .card.large .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
  .card.xsmall {
    height: 134px; }
  .card.small {
    height: 300px; }
  .card.medium {
    height: 400px; }
  .card.large {
    height: 500px; }
  .card.horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
      height: 100%;
      max-height: none;
      overflow: visible; }
      .card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
        height: 100%; }
    .card.horizontal .card-image {
      max-width: 50%; }
      .card.horizontal .card-image img {
        border-radius: 2px 0 0 2px;
        max-width: 100%;
        width: auto; }
    .card.horizontal .card-stacked {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      position: relative; }
      .card.horizontal .card-stacked .card-content {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
  .card.sticky-action .card-action {
    z-index: 2; }
  .card.sticky-action .card-reveal {
    z-index: 1;
    padding-bottom: 64px; }
  .card .card-image {
    position: relative; }
    .card .card-image img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%; }
    .card .card-image .card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%; }
  .card .card-content {
    border-radius: 0 0 2px 2px; }
    .card .card-content p {
      margin: 0; }
    .card .card-content .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px; }
      .card .card-content .card-title i {
        line-height: 32px; }
  .card .card-action {
    position: relative;
    border-top: 1px solid rgba(160, 160, 160, 0.2); }
    .card .card-action:last-child {
      border-radius: 0 0 2px 2px; }
    .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease;
      text-transform: uppercase; }
  .card .card-reveal {
    position: absolute;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none; }
    .card .card-reveal .card-title {
      cursor: pointer;
      display: block; }

.card-content h3, .card-content h4 {
  margin-top: 0;
  margin-bottom: 16px; }

.card-content img {
  float: right; }

.card-content p span {
  font-weight: 500; }

.card-action {
  border-top: none !important;
  padding-top: 8px !important; }
  .card-action button, .card-action a.button {
    margin: 0; }

/* Cards  CUSTOM
========================================================================== */
.card {
  border-radius: 6px; }
  .card .card-content .card-title {
    font-weight: bold; }
  .card .card-action {
    border-top: none; }
    .card .card-action:last-child {
      border-radius: 0 0 6px 6px; }
  .card.clickable {
    cursor: pointer; }
  .card.disabled {
    pointer-events: none; }
    .card.disabled .card-content, .card.disabled .card-action {
      opacity: .5; }
  .card.selected {
    border: 3px solid #74bbeb;
    position: relative; }
    .card.selected::before, .card.selected::after {
      content: '';
      display: inline-block;
      position: absolute; }
    .card.selected::before {
      top: -3px;
      right: -3px;
      width: 37px;
      height: 30px;
      border-radius: 0 6px 0 6px;
      background-color: #74bbeb; }
    .card.selected::after {
      top: 4px;
      right: 18px;
      width: 8px;
      height: 15px;
      border-top: 0px solid transparent;
      border-left: 0px solid transparent;
      border-right: 3px solid #fff;
      border-bottom: 3px solid #fff;
      -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
      transform: rotateZ(45deg);
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
  .card.small {
    height: 256px; }
  .card .spot-illustration {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 72px;
    background-position: right;
    background-repeat: no-repeat;
    vertical-align: middle; }
    .card .spot-illustration.analyse-needs {
      background-image: url("/assets/images/analyse-needs.svg"); }
    .card .spot-illustration.review-connections {
      background-image: url("/assets/images/review-connections.svg"); }
    .card .spot-illustration.select-guarantors {
      background-image: url("/assets/images/select-guarantors.svg"); }
    .card .spot-illustration.financial-details {
      background-image: url("/assets/images/financial-details.svg"); }
    .card .spot-illustration.configure-products {
      background-image: url("/assets/images/configure-products.svg"); }
    .card .spot-illustration.review-submit {
      background-image: url("/assets/images/review-submit.svg"); }
    .card .spot-illustration.fulfillment {
      background-image: url("/assets/images/fulfillment.svg"); }
  .card .application-progress {
    display: inline-block;
    margin-top: 16px;
    font-family: "Heebo-Medium", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 24px; }
    .card .application-progress::before {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      float: left;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      background-origin: border-box;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain; }
    .card .application-progress.done {
      color: #0B8224; }
      .card .application-progress.done::before {
        background-image: url("/assets/images/application-done.svg"); }
    .card .application-progress.in-progress {
      color: #F78E16; }
      .card .application-progress.in-progress::before {
        background-image: url("/assets/images/application-in-progress.svg"); }
    .card .application-progress.not-started {
      color: #7f7f7f; }
      .card .application-progress.not-started::before {
        background-image: url("/assets/images/application-in-progress.svg"); }
    .card .application-progress.locked {
      float: right !important;
      margin: -18px;
      color: #585858; }
      .card .application-progress.locked::before {
        background-image: url("/assets/images/application-locked.svg"); }

accordion {
  background: transparent; }
  accordion accordion-group .panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    margin: 0 0 15px; }
    accordion accordion-group .panel-heading {
      padding: 10px 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      background: inherit;
      cursor: pointer; }
    accordion accordion-group .panel-title {
      color: #13202b;
      font-weight: 700;
      font-size: 15px; }
      accordion accordion-group .panel-title:before {
        content: '';
        background: url("assets/chevron.svg") no-repeat center center;
        width: 15px;
        height: 7px;
        position: absolute;
        left: -25px;
        top: 25px; }
    accordion accordion-group .panel-body {
      padding: 15px 0;
      font-size: 14px;
      line-height: 1.1; }
    accordion accordion-group .panel .accordion-toggle {
      border-bottom: 3px solid #eeeef1;
      padding: 7px 0; }

.tooltip {
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  padding: 0;
  margin-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .tooltip-inner {
    background: #fff;
    padding: 20px 25px 0;
    color: #000;
    max-width: 380px;
    width: 300px; }
    .tooltip-inner > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 12px;
      color: #000;
      border-top: 2px solid #e1e1e1;
      padding: 20px 0; }
      .tooltip-inner > div span {
        font-size: 16px;
        margin-left: 20px; }
    .tooltip-inner h3 {
      font-size: 14px;
      line-height: 1.2;
      margin: 0 0 10px;
      text-align: left;
      font-weight: 900; }
  .tooltip .tooltip-arrow {
    left: -2px;
    width: 0;
    height: 0; }
    .tooltip .tooltip-arrow:before {
      width: 20px;
      height: 20px;
      background: #fff;
      border: none;
      -webkit-box-shadow: 0 0 0 2px #e1e1e1;
      box-shadow: 0 0 0 2px #e1e1e1;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      left: -5px;
      z-index: -1;
      overflow: hidden;
      margin-top: -8px; }

.input-wrap[_ngcontent-c0] input.select[_ngcontent-c0] {
  color: #fff;
  font-size: 22px;
  background: #000; }
  .input-wrap[_ngcontent-c0] input.select[_ngcontent-c0] > div {
    background: yellow; }
